doctype html
html(lang="en")
    head
        title product
        link(rel="stylesheet", href="")
    body
        p.pippo !{data.hello_world}
        p !{data.name}
        p !{data.pack_link}
        p !{data.product_link}
        a(href=data.next_link) !{data.next_link}
        p !{data.prev_link}
